    #container {
      display: flex;
    }

    pre {
      margin: 10px;
    }

    .inputFile {
      max-width: 200px;
    }

    #inputContainer>* {
      display: block;
      margin-bottom: 20px;
    }

    #descarga {
      visibility: hidden;
    }